<h1 style="margin-top: 20px; margin-bottom: 20px; color:green;">Welcome, @ViewBag.CurrentUser.FirstName @ViewBag.CurrentUser.LastName!</h1>
@model List<Entry>

<div class="text-center">
    <table class="table table-striped table-hover">
        <thead>
        <tr>

        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        </tr>
        <tbody>
            @foreach (Entry e in Model)
            {
            <tr>
                <td>@e.Title</td>
                <td>@e.Date</td>
                <td>@e.Description</td>
        </tr>
        }
        </tbody>
</div>
